aside {
  background: #FFCE3B;
  width: 50%;
}

.profile-img {
  width: 466px;
  height: 456px;
  object-fit: contain;
  margin-top: -2px;
}

@media screen and (max-width: 900px) {
  aside {
    display: none;
  }
}