
.block {
  height: 295px;
  flex-grow: 1;
  margin-bottom: 20px;
  transition: border 0.5s;
}

.block-header {
  display: flex;
}

.block-header-line {
  width: 30%;
}

.block-yellow .block-header-line {
  background: #FFCE3B;
}

.block.block-yellow:hover {
  border-bottom: 4px solid #FFCE3B;
}

.block-header-title {
  padding-left: 20px;
  color: #231F20;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .block {
    width: 400px;
  }
}