* {
  box-sizing: border-box;
}

/* Removing global margin */
body {
  margin: 0;
}

/*smooth scroll*/
html {
  scroll-behavior: smooth;
}
/*common class*/
.container {
  display: flex;
}

/*Block*/
.blocks-wrapper {
  margin-top: 30px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}